/*menu para todas as páginas*/
@import url(vars.css);
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.menu-container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    gap: 20px;
}

.menu-list{
    gap: 30px;
}

.menu-list li a {
    font-size: 1.1rem;
    color: var(--color-title);
    font-weight: 500;
}

.menu-list li a:hover {
    color: var(--color-title);
    font-weight: 600;
}

.header__image figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.header__image figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #cacaca65;
}

.header__superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px 0px 8px;
}

.header__cadastro {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--color-title);
    cursor: pointer;
    font-size: 1rem;
}

.header__cadastro .button-cadastrar button {
    border-radius: 10px;
    background-color: var(--color-title);
    border: 1px solid var(--color-title);
    color: var(--color-background);
    padding: 5px 15px;
    font-weight: 500;
    transition: all 300ms;
}

.header__cadastro .button-cadastrar button:hover {
    background: transparent; 
    color: var(--color-title);
    transition: all 300ms;
    border: 1px solid var(--color-title);
}

.button-entrar button, .button-criar-evento button, .button-sair button{
    color: var(--color-title);
}

.button-criar-evento{
    display: none;
}

.header__cadastro a button{
    background: transparent;
    border: none;
    font-weight: 500;
}

.header__pesquisa {
    width: 50%;
}

.header__pesquisa .search {
    border-radius: 20px;
    padding: 10px 20px;
    background: #6d1fea2e;
    width: 100%;
    display: flex;
    gap: 10px;
}

.search input{
    caret-color: var(--color-title);
    border: none;
    background-color: transparent;
    width: 100%;
}

.search span{
    color: var(--color-title);
}

.header__pesquisa input::placeholder {
    color: var(--color-title);
}

.header__pesquisa input:focus {
    outline: none;
}

.header__logo a {
    margin: 0;
    padding: 0;
}

.header__logo img {
    width: 200px;
}

/*modal cadastro login*/
.form-item label{
    padding: 0;
    margin-bottom: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-body{
    padding: 30px;
}

.alert{
    margin: 0;
}